$icon-font-path: "../bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";
@import '../bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap';
@import '../bower_components/bootstrap-social/bootstrap-social.scss';
$fa-font-path: "../bower_components/font-awesome/fonts";
@import '../bower_components/font-awesome/scss/font-awesome';

/**
 * App-wide Styles
 */

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

// FIXME revisit styling. needs proper thought
.informi-widget {
  background-color: rgba(0,0,0,0.7);
  color: #999999;
  border-radius: 1;
  padding: 15px;
  margin-top: 15px;
}

.informi-container {
  height: 90vh;

  background-color: rgba(0,0,0,0.7);
  color: #999999;
  border-radius: 1;
  padding: 15px;
  margin-top: 15px;
}

// Component styles are injected through grunt
// injector
@import 'admin/admin.scss';
@import 'main/main.scss';
@import 'weather/weather.scss';
@import '../components/footer/footer.scss';
@import '../components/modal/modal.scss';
@import '../components/navbar/navbar.scss';
@import '../components/oauth-buttons/oauth-buttons.scss';
// endinjector
