<div class="full-height">
<header class="hero-unit" id="banner">
  <div class="">
    <h1>Welcome to Informi</h1>
    <p class="lead">Lorem Ipsum Dolor Set</p>
    <!-- <img src="assets/images/yeoman.png" alt="I'm Yeoman"> -->
  </div>
</header>

  <!-- <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">Features:</h1>
      <ul class="nav nav-tabs nav-stacked col-md-4 col-lg-4 col-sm-6" ng-repeat="thing in main.awesomeThings">
        <li><a href="#" tooltip="{{thing.info}}">{{thing.name}}<button type="button" class="close" ng-click="main.deleteThing(thing)">&times;</button></a></li>
      </ul>
    </div>
  </div> -->

  <!-- <form class="thing-form">
    <label>Syncs in realtime across clients</label>
    <p class="input-group">
      <input type="text" class="form-control" placeholder="Add a new thing here." ng-model="main.newThing">
      <span class="input-group-btn">
        <button type="submit" class="btn btn-primary" ng-click="main.addThing()">Add New</button>
      </span>
    </p>
  </form> -->
<div class="informi-widget">
  <h1>Sidebar</h1>
  <p>This template has a responsive menu toggling system. The menu will appear collapsed on smaller screens, and will appear non-collapsed on larger screens. When toggled using the button below, the menu will appear/disappear. On small screens, the
    page content will be pushed off canvas.</p>

  <a href="#" class="btn btn-default"
     id="menu-toggle" ng-click="nav.toggler()">Toggle Menu</a>
</div>

<div class="informi-widget">
  <h1>Getting Started</h1>
  <p>To create your own package, type <code>informi-generate:package</code> in your terminal and hit enter.</p>
</div>

<!-- <footer></footer> -->
</div>
